.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #eb5656;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
  }

  .correct{
    background-color: rgb(11, 245, 50);
  }

  .incorrect{
    background-color: crimson;
  }

  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }

